<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BRACU MEDICAL CENTER</title>
  <link rel="stylesheet" href="home.css">
</head>
<body>
  <header>
    <h1>Welcome to BRACU Medical Center </h1>
  </header>

  <main>
    <section class="category doctor">
      <h2>Doctors</h2>
      <p>Find information about our doctors here.</p>
      <br>
      <br>
      <form method="get" action="/all_doctor_list">
        <button>Search doctor</button>
      </form>
    </section>

    <section class="category nurse">
      <h2>Nurses</h2>
      <p>Learn more about our nursing staff.</p>
      <form method="get" action="/all_nurse_list">
        <br>
        <br>
        <button>All Nurse Information</button>
      </form>
    </section>

    <section class="category patient">
      <h2>Patients</h2>
      <p>Access patient resources and information.</p>
      <form method="get" action="/all_patient_list">
        <br>
        <br>
        <button>All Patient Information</button>
      </form>
    </section>

    <section class="category employee">
      <h2>Employees</h2>
      <p>Important information for our employees.</p>
      <form method="get" action="/all_employee">
        <br>
        <br>
        <button>All Employee</button>
      </form>
    </section>

    <section class="appointment">
      <h2>Appointment</h2>
      <form method="get" action="/all_appointments">
        <br>
        <br>
        <button>All Appointment Information</button>
      </form>
    </section>
    <section class="category room">
      <h2>Rooms</h2>
      <p>All information about room</p>
      <form method="get" action="/room_information">
        <br>
        <br>
        <button>Room Information</button>
      </form>
    </section>
    <section class="category lab_tests">
      <h2>Lab Test</h2>
      <p>All information about Test</p>
      <form method="get" action="/lab_tests/home">
        <br>
        <br>
        <button>Test Information</button>
      </form>
    </section>
    <section class="category lab_ambulance">
      <h2>Hire Ambulance</h2>
      <p>All information about Test</p>
      <form method="get" action="/all_ambulance_record">
        <br>
        <br>
        <button>Info</button>
      </form>
    </section>

  </td>
    
  </main>

  <footer>
    <p> All rights reserved to bracu medical center.</p>
  </footer>
</body>
</html>
