<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BRACU MEDICAL CENTER</title>
  <link rel="stylesheet" href="/public/css/home.css">
</head>
<body>
  <header>
    <h1>Hospital room Managment </h1>
  </header>

  <main>
    <section class="category all_room">
      <h2>All Tests</h2>
      <p>Find information about all tests.</p>
      <br>
      <br>
      <form method="get" action="/all/lab_tests">
        <button>All Tests</button>
      </form>
    </section>

    <section class="category admit_room">
      <h2>Add Test</h2>
      <p>Add new test for patients</p>
      <form method="get" action="/lab_test/add_new_test">
        <br>
        <br>
        <button>Add tests</button>
      </form>
    </section>



</main>

  <footer>
    <p> All rights reserved to bracu medical center.</p>
  </footer>
</body>
</html>