<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BRACU MEDICAL CENTER</title>
  <link rel="stylesheet" href="home.css">
</head>
<body>
  <header>
    <h1>Hospital room Managment </h1>
  </header>

  <main>
    <section class="category all_room">
      <h2>All Rooms</h2>
      <p>Find information about all patients rooms.</p>
      <br>
      <br>
      <form method="get" action="/all_rooms">
        <button>Search doctor</button>
      </form>
    </section>

    <section class="category admit_room">
      <h2>Admit into room</h2>
      <p>Learn more about our nursing staff.</p>
      <form method="get" action="/admit_into_room">
        <br>
        <br>
        <button>All Nurse Information</button>
      </form>
    </section>



</main>

  <footer>
    <p> All rights reserved to bracu medical center.</p>
  </footer>
</body>
</html>